@import './variables/Variables.scss';

.movieRowGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1600px;
  }

  .moviePoster{
    margin: 7px;
    height: 450px;
    width: 300px;
    border: 2px solid rgb(80, 80, 80);
    border-radius: 5px;
    background-color: $mainGreyColor;
    position: relative;
    cursor: pointer;
    img{
        height: 450px;
        width: 300px;
        vertical-align: middle;
    }

    .star {
      font-size:45px;
      position: absolute;
      visibility: hidden;
      right: 25px;
      bottom: 45px;
      cursor:pointer;
    }
   
  .star:before {
     content: "\2606";
     visibility:visible;
     color: $goldColor;
  }
  .star:checked:before {
     content: "\2605";
  }
 
  }
