@import './variables/Variables.scss';


.movieCardContainer{
    display: flex;
    justify-content: center;
}

.movieCardRow{
    padding: 10px;
    max-width: 1800px;
    width:100%;
    background-color: $mainGreyColor;
}
.movieCard{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.movieCardPoster{
    margin: 7px;
    border-radius: 5px;
    .movieImage{
        position: relative;
    }
    img{
        height: auto;
        width: 100%;
        min-width: 300px;
        box-shadow: 5px 5px 5px rgba($blackColor, .5);
    }
}

.movieInfo{
    max-width: 90%;
    width:1200px;
    text-align: left;
    margin: 10px;
    h2{
        font-size: 35px;
        margin-top: 0;
        font-weight: 900;
        margin-bottom: 10px;
    }
    h4{
        font-size: 25px;
        margin-bottom: 5px;
        color: $mainBlueColor
    }
    p{
        font-size: 18px;
        margin-top: 0;
    }
    h5{
        font-size: 20px;
        color: $secondaryGreyColor;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

.movieMediaContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    h4{
        font-size: 25px;
        margin-bottom: 5px;
        color: $mainBlueColor
    }
    
}
.infoRating{
    margin-left: 10px;
    color: $mainGoldColor;
}


.crew{
    display: flex;
    flex-wrap: wrap;
}

.genre{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    p{
        margin: 5px;
        border: solid 1px white;
        padding: 8px;
        font-size: 15px;
        border-radius: 20px;
    }
}

 .crewMember{
     margin-right: 10px;
 }

.movieImageContainer{
    max-width: 600px;
    width:90vw;
}

.movieImages{
    height: auto;
    width: 90vw;
    max-width: 600px;
}

.crewAndBudgetInfo{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    div{
    div{
        h4{
            margin-top: 10px;
            margin-bottom: 0;
        }
        p{
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}
}

.crewInfo{
    width: 300px;
}


.starringCastInfoContainer{
    h4{
        margin-top: 10px;
        margin-bottom: 5px;
    }
  
}

.starringCastInfo{
    display: flex;
    text-align: center;
    overflow-x: scroll;
    h6{
        margin:0;
        font-size: 15px;
    }
    p{
        color: $mainGoldColor;
        font-size: 12px;
    }
    img{
      width: 150px;
      height: 150px;
      object-fit: cover;
      object-position: 50% 25%;
      display: block;
      border-radius: 50%;
      margin-right: 10px;
    }
    
}

::-webkit-scrollbar {
    background-color: $mainGreyColor;
    height: 8px;
    margin:2px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba($mainBlueColor, 0.8);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba($mainBlueColor, 1);
  }

  .crewAndReviewContainer{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 0;
  }


  .reviewContainer{
      max-width:700px;
      width: 45vw;
      h4{
          margin-top:0
         
      }
      button{
        color:$whiteColor;
        background-color: $secondaryGreyColor;
        font-size: 15px;
        font-weight: 600;
        margin-left: 10px;
        padding: 15px;
        border: none;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgba($blackColor, .5);
        cursor: pointer;
    }
    button:hover{
        opacity: .85;
    }
      h5{
          margin-bottom: 5px;
      }
  }

  @media only screen and (max-width: 1000px) {
    .reviewContainer{
      width: 100%;
    }
  }

  .review{
    padding: 10px;
    border: 2px solid $secondaryGreyColor;
    box-shadow: 5px 5px 5px rgba($blackColor, .5);
    border-radius: 5px;
    div{
        display: flex;
        justify-content: space-between;
    }
    h5{
        margin-bottom:10px;
        color: $mainGoldColor
    }
  }

  .reviews{
      max-height: 250px;
      overflow-y: scroll;
      padding: 10px;
      border-radius: 10px;
  }