@import './variables/Variables.scss';


.movieCardContainer{
    display: flex;
    justify-content: center;
}

.movieCardRow{
    padding: 10px;
    max-width: 1800px;
    width:100%;
    background-color: $mainGreyColor;
}
.movieCard{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.movieCardPoster{
    margin: 7px;
    border-radius: 5px;
    .movieImage{
        position: relative;
    }
    img{
        height: auto;
        width: 100%;
        min-width: 300px;
    }
}

.movieInfo{
    max-width: 65%;
    text-align: left;
    margin: 10px;
    h2{
        font-size: 35px;
        margin-top: 0;
        font-weight: 900;
        margin-bottom: 10px;
    }
    h4{
        font-size: 25px;
        margin-bottom: 5px;
        color: $mainBlueColor
    }
    p{
        font-size: 18px;
        margin-top: 0;
    }
    h5{
        font-size: 20px;
        color: $secondaryGreyColor;
        margin-top: 10px;
    }
}

.movieMediaContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    h4{
        font-size: 25px;
        margin-bottom: 5px;
        color: $mainBlueColor
    }
    
}
.infoRating{
    margin-left: 10px;
    color: $mainGoldColor;
}

.crewInfo{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.crewInfo{
    h4{
        display: flex;
        justify-content: center;
    }
}

.crew{
    display: flex;
    text-align: center;
}

.genre{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    p{
        margin: 5px;
        border: solid 1px white;
        padding: 8px;
        font-size: 15px;
        border-radius: 20px;
    }
}

.crewMember{
    margin:5px;
}

.movieImageContainer{
    max-width: 600px;
}

.movieImages{
    height: auto;
    width: 90vw;
    max-width: 600px;
}