.movieRowGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .moviePoster{
    margin: 10px;
    height: auto;
    width: auto;
    border: 2px solid black;
    border-radius: 5px;
    background-color: aliceblue;
    transition: transform 400ms;
    cursor: pointer;
    img{
        height: 750px;
        padding: 5px;
        vertical-align: middle;
        transition: transform 400ms;
    }
    img:hover{
      transform:scale(1.03)
    }

    
  }

  .moviePoster:hover{
    opacity: .9;
      transform: scale(1.02);
  }
